
.header {
    @apply text-gray-600 border-b border-primary-300
}

.inner {
    @apply container px-10 mx-auto flex justify-between flex-wrap py-2  md:flex-row md:items-center
}

.logo {
    @apply flex  font-medium items-center text-gray-900 mb-4 md:mb-0 md:pl-0 pl-6 w-24

}

/*.logo span {*/
/*    @apply md:text-xl  text-primary-400 font-bold border border-primary-300 p-2 rounded*/
/*}*/

.menu {
    @apply md:ml-auto md:mr-auto hidden md:flex flex-wrap items-center text-base justify-center

}

.menuItem {
    @apply relative mr-5 font-bold  hover:text-gray-900 cursor-pointer
}

.menuItem::before {
    content: "";
    @apply absolute bg-primary-300 -bottom-2 h-1 w-[50%] transition-all
}

.menuItem::before:hover {
    content: "";
    @apply w-full
}

.button {
    @apply inline-flex items-center bg-primary-400  hover:bg-primary-500 text-white border-0 py-1 px-3
    focus:outline-none transition rounded text-base mt-4 md:mt-0
}