.speechContainer{

}
.innerSection{
    @apply container mx-auto flex md:flex-nowrap flex-wrap md:justify-start justify-center gap-20 my-32 md:px-60 px-5
}
.reverse{
    @apply flex-row-reverse
}
.image{

}
.speech .title{
    @apply text-4xl font-bold
}
.speech .title span{
    @apply text-secondary-400
}
.speech .body{
    @apply text-gray-600 text-base mt-8 text-justify
}
.speech .name{
    @apply text-xl font-bold mt-8 text-gray-800
}
.speech .designation{
    @apply mt-3 font-semibold text-secondary-400
}